
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dancing+Script:wght@400..700&family=Faculty+Glyphic&family=Gothic+A1&family=Great+Vibes&family=League+Spartan:wght@100..900&family=Playwrite+HR+Lijeva:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dancing+Script:wght@400..700&family=Faculty+Glyphic&family=Gothic+A1&family=League+Spartan:wght@100..900&family=Playwrite+HR+Lijeva:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Faculty+Glyphic&family=Gothic+A1&family=League+Spartan:wght@100..900&family=Playwrite+HR+Lijeva:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Faculty+Glyphic&family=Gothic+A1&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Faculty+Glyphic&family=Gothic+A1&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    font-style: normal;
}


/* mise en forme de la premiere section */
.section1{
    height: 100vh;
    width: 100%;
    background-image: url(../images/background2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.section1 .con {
    display: none;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.section1 header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 30px;
    color: white;
    gap: 100px;
}

.section1 header .logo p {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    color: white;
}

.section1 header .logo .big {
    font-weight: 900;
    font-size: 25px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.section1 header .logo hr {
    display: inline-block;
    width:20px ;
    text-align: center ;
    background-color:white;
    border: 1px solid;
    vertical-align: middle;
    border-radius: 5px;
}

.section1 header .navlist ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.section1 header .navlist ul a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: ease-in-out 0.5s;
}

.section1 header .navlist ul a:hover {
    color: rgb(243,137,6);
    border-bottom: 2px solid;
}

.section1 header .reserve a {
    background-color: rgb(243,137,6);
    padding: 10px 20px;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    color: white;
    transition: ease-in-out 0.5s;
}

.section1 header .reserve a:hover {
    background-color: rgb(190, 108, 6);
}

.section1 .middle{
    color: white;
    position: absolute;
    top: 20%;
    right: 50%;
    transform: translate(50%, 50%);
}

.section1 .middle p {
    text-align: center;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
}

.section1 .middle .fantasy {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: white;
    word-spacing: 7px;
}

.section1 .middle .milieu {
    font-weight: 900;
    font-size: 35px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 15px;
    width: 800px;
    min-width: 300px;
    color: white;
}

.section1 .middle .p{
    margin-top: 30px;
}

.section1 .middle .menu {
    color: white;
    padding: 10px 20px;
    font-size: 15px;
    background-color: rgb(243,137,6);
    text-decoration: none;
    transition: ease-in-out 0.5s;
}

.section1 .middle .menu:hover {
    background-color: rgb(190, 108, 6);
    letter-spacing: 10px;
} 





/* MODELISATION DE LA SECTION2 */
.section2{
    padding: 50px;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(11,22,26);
    color: white;
}

.section2 .di {
    text-align: center;
}

.section2 .di .fantasy {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: white;
    word-spacing: 7px;
    margin-bottom: 15px;
}

.section2 .di h1 {
    font-size: 35px;
}

.section2 .de {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 50px;
}

.section2 .de .card {
    height: 370px;
    width: 250px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section2 .de .card img {
    height: 370px;
    width: 250px;
}

.section2 .de #center-card {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
}

.section2 .de #center-card p {
    text-align: center;
    font-size: 12px;
}

.section2 .de #center-card p a {
    text-align: center;
    font-size: 12px;
    color: white;
    text-decoration: none;
    background-color: rgb(243,137,6);
    padding: 5px 10px;
    transition: ease-in-out 0.5s;
}

.section2 .de #center-card p a:hover{
    background-color: rgb(190, 108, 6);
    letter-spacing: 3px;
}


.section2 .de #center-card .bst{
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: white;
    word-spacing: 7px;
    margin-bottom: 15px;
}

.section2 .de #center-card .trad{
    margin-bottom: 15px;
    font-size: 20px;
    word-spacing: 10px;
}

.section2 .de #center-card .txt {
    margin-bottom: 15px;
}

.section2 .de #center-card .more {
    margin-bottom: 15px;
    display: none;
}








/* modélisation de la section3 */
.section3 {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(11,22,26);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
    gap: 20px;
}

.section3 div img {
    height: 580px;
    width: 350px;
}

.section3 .repas {
    color: white;
}

.section3 .repas .notre {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: white;
    word-spacing: 7px;
    margin-bottom: 15px;
}

.section3 .repas .ett{
    margin-bottom: 15px;
    font-size: 35px;
    word-spacing: 10px;
}

.section3 .repas .nrt {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    /* text-align: center; */
    margin-bottom: 10px;
}

.section3 .repas hr {
    display: inline-block;
    width:300px ;
    text-align: center ;
    background-color:white;
    border: 1px solid;
    vertical-align: middle;
    border-radius: 5px;
}

.section3 .repas span,hr{
    color: rgb(243,137,6);
}








/* misee en forme de la 4eme section  */
.section4 {
    min-height: 300px;
    width: 100%;
    background-color: rgb(41,41,41);
    padding: 50px ;
    color: rgba(255, 255, 255, 0.6);
    font-size: 15px;
}

.section4 .titre {
    font-size: 35px;
    margin-bottom: 20px;
}

.section4 .txtt span{
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
}

.section4 hr {
    border: solid 1px rgba(255, 255, 255, 0.6);
    margin: 20px 0px;
}

.section4 div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.section4 div img {
    height: 40px;
    width: 40px;
    border-radius: 10px;
}

footer{
    background-color: rgb(11,22,26);
    height: 90px;
    padding: 10px 0px;
    color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    text-align: center;
    font-size: 12px;
}











